*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: 16px "Helvetica neve" Arial, Helvetica, sans-serif;
    background: rgba(190, 224, 245, 0.4);
    color: rgb(1, 14, 14);

}